$light-body-background: #f6f8ff;
$search-button: #0079ff;
$search-button-hover: #60abff;
$primary-text: #2b3442;
$secondary-text: #4b6a9b;
$component-background: #fefefe;
$unavailable-social: #697c9a;
$button-text: #fff;
$app-name-text: #222731;
$box-shadow: rgba(70, 96, 187, 0.2);
$color-text-error: #f74646;
