@use "./colors" as *;
@use "./functions" as f;

.heading-1 {
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(26);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--app-name-text);
}

.follower-amount {
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(22);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-text);
}

.github-username {
  color: var(--search-button);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.follower-category {
  color: var(--secondary-text);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(13);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primary-text {
  color: var(--secondary-text);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(15);
  font-style: normal;
  font-weight: 400;
  line-height: f.pxToRem(25);
}

.social-text {
  color: var(--secondary-text);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(15);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.not-available {
  color: var(--unavailable-social);
}

.toggle-mode-text {
  color: var(--unavailable-social);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(13);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: f.pxToRem(2.5);
  text-transform: uppercase;
}
.toggle-mode-text-light {
  color: var(--button-text);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(13);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: f.pxToRem(2.5);
  text-transform: uppercase;
}

.primary-search-text {
  font-size: f.pxToRem(18);
}

.search-button {
  color: var(--button-text);
  font-family:
    Space Mono,
    sans-serif;
  font-size: f.pxToRem(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 480px) {
  .github-username {
    font-size: f.pxToRem(13);
  }
  .date-joined {
    font-size: f.pxToRem(13);
  }
  .primary-text {
    font-size: f.pxToRem(13);
  }
  .follower-category {
    font-size: f.pxToRem(11);
  }
  .follower-amount {
    font-size: f.pxToRem(16);
  }
  .social-text {
    font-size: f.pxToRem(13);
  }
  .full-name {
    font-size: f.pxToRem(16);
  }
  .primary-search-text {
    font-size: f.pxToRem(13);
  }
  .search-button {
    font-size: f.pxToRem(14);
  }
}
