:root {
  --button-primary: #a729f5;
  --dark-navy: #313e51;
  --navy: #3b4d66;
  --grey-navy: #626c7f;
  --light-bluish:#ABC1e1;
  --light-grey:#F4F6FA
  --pure-white:#FFFFFF;
  --green:#26D782;
  --red:#ee5454;
}
