@use "./abstracts/index" as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 740px;
  margin: auto;
  padding: 5px;
  background-color: var(--body-background);
}

.header-wrapper {
  display: flex;
  width: 100%;
}

.toggle-mode-wrapper {
  display: flex;
  outline: none;
  border: none;
  background-color: var(--body-background);

  gap: 16px;
  &:hover {
    cursor: pointer;
    .toggle-mode-text {
      color: var(--primary-text);
    }
    .toggle-mode-image {
      g {
        path {
          fill: var(--primary-text);
        }
      }
    }
  }
}
.light-button {
  display: none;
  gap: 16px;
  .toggle-mode-text-light {
    color: var(--button-text);
  }
  &:hover {
    cursor: pointer;
    .toggle-mode-text-light {
      color: var(--button-light);
    }
    svg {
      g {
        path {
          fill: var(--button-light);
        }
      }
    }
  }
}

form {
  width: 100%;
  background-color: var(--component-background);
  border-radius: 15px;
  margin-top: 36px;
  margin-bottom: 16px;
}

.search-user {
  box-shadow: 0px 16px 30px -10px var(--box-shadow);
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 9.5px 10px 9.5px 32px;
  border-radius: 15px;
  .primary-search-text {
    flex-grow: 1;
  }
  input {
    background-color: var(--component-background);
    flex-grow: 1;
    border: none;
    caret-color: var(--search-button);
    color: var(--app-name-text);
  }
  input:focus {
    outline: none;
  }
  input:hover {
    cursor: pointer;
  }
  input:-webkit-autofill,
  :-webkit-autofill:first-line,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s !important;
  }
}

.primary-search-text::placeholder {
  color: var(--secondary-text);
}

#error {
  color: var(--color-text-error);
  flex-shrink: 0;
  font-weight: 700;
  display: none;
}

.search-button {
  background-color: var(--search-button);
  border-radius: 10px;
  color: var(--button-text);
  border-color: transparent;
  min-width: 106px;
  height: 50px;
  flex-shrink: 0;
  &:hover {
    cursor: pointer;
    background-color: var(--search-button-hover);
  }
}

.error-button-wrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-right: 10px;
}

.loading {
  display: none;
}

.user-profile {
  background-color: var(--component-background);
  width: 100%;
  padding: 48px;
  display: none;
  flex-direction: column;
  gap: 37px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px var(--box-shadow);
}

.hero-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  column-gap: 37px;
  row-gap: 20px;
}

.user-image {
  border-radius: 50%;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 117px;
  height: 117px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name-joined-wrapper {
  display: flex;
  width: 100%;
}

.primary-text {
  display: flex;
  flex-wrap: wrap;
}

.full-name {
  color: var(--primary-text);
}

.date-joined {
  line-height: normal;
  margin-left: auto;
  flex-wrap: wrap;
}

.follower-wrapper {
  display: flex;
  background-color: var(--body-background);
  border-radius: 10px;
  margin-left: 154px;
}

.follower-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 83px 17px 32px;
  li {
    display: flex;
    flex-direction: column;
  }
}

.socials-wrapper {
  margin-left: 154px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 19px;
  column-gap: 40px;
  li {
    svg {
      path {
        fill: var(--secondary-text);
      }
    }
  }

  .social-1 {
    gap: 19px;
    order: 1;
  }
  .social-2 {
    order: 3;
  }
  .social-3 {
    order: 2;
  }
  .social-4 {
    order: 4;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
  a {
    text-decoration: none;
  }
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}
.unavailable {
  a {
    color: var(--unavailable-social);
  }
  color: var(--unavailable-social);
  svg {
    g {
      path {
        fill: var(--unavailable-social);
      }
    }
  }
  span {
    color: var(--unavailable-social);
  }
}

.not-available > g > path {
  fill: var(--unavailable-social);
}

@media (max-width: 768px) {
  body {
    max-width: 623px;
  }
  .user-image {
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .primary-text {
    grid-row: 2;
    grid-column: 1/3;
  }
  .user-name-joined-wrapper {
    flex-direction: column;
    gap: 4px;
    .date-joined {
      margin-left: 0;
    }
  }

  .hero-wrapper {
    column-gap: 41px;
  }
  .socials-wrapper {
    margin-left: 0;
    column-gap: 58px;
    li {
      display: flex;

      align-items: center;
      gap: 16px;
    }
  }
  .follower-wrapper {
    margin-left: 0;
  }
  .user-profile {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  body {
    max-width: 377px;
  }

  .search-user {
    padding: 6.5px 7px 6.5px 16px;
    gap: 0;
  }

  .search-button {
    min-width: 84px;
    height: 46px;
  }

  .primary-search-text {
    padding-left: 9px;
    padding-right: 7px;
  }

  .socials-wrapper {
    grid-template-columns: 1fr;
    .social-2 {
      order: 2;
    }
    .social-3 {
      order: 3;
    }
  }
  .follower-info {
    padding: 18px 14px 19px 15px;
  }
  .follower-amount {
    text-align: center;
  }
  .user-image {
    width: 70px;
    height: 70px;
  }
  .hero-wrapper {
    column-gap: 20px;
  }
  .user-profile {
    padding: 24px;
    gap: 24px;
  }
  .search-image {
    width: 20px;
    height: 20px;
  }
  .error-button-wrapper {
    padding-right: 7px;
  }
  .search-button {
    width: 84px;
    height: 46px;
  }
}

@media (prefers-color-scheme: dark) {
  .light-button {
    display: flex;
  }
  #dark-button {
    display: none;
  }
  :root {
    --body-background: #141d2f;
    --search-button: #0079ff;
    --primary-text: #fff;
    --button-text: #fff;
    --secondary-text: #fff;
    --app-name-text: #fff;
    --component-background: #1e2a47;
    --unavailable-social: #697c9a;
    --button-text: #fff;
    --box-shadow: 0;
    --color-text-error: #f74646;
    --search-button-hover: #60abff;
    --button-light: #90a4d4;
  }
  .light-mode {
    --body-background: #f6f8ff;
    --search-button: #0079ff;
    --primary-text: #2b3442;
    --secondary-text: #4b6a9b;
    --component-background: #fefefe;
    --unavailable-social: #697c9a;
    --button-text: #fff;
    --app-name-text: #222731;
    --box-shadow: rgba(70, 96, 187, 0.2);
    --color-text-error: #f74646;
    --search-button-hover: #60abff;
  }
}
