@use "./abstracts/index" as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 730px;
  margin: auto;
  padding: 25px;
  background-color: $light-body-background;
}

.header-wrapper {
  display: flex;
  width: 100%;
}

.toggle-mode-wrapper {
  display: flex;
  gap: 16px;
  &:hover {
    cursor: pointer;
  }
}

.error {
  display: none;
  color: $color-text-error;
  flex-shrink: 0;
  font-weight: 700;
}

form {
  width: 100%;
  background-color: $component-background;
  border-radius: 15px;
  margin-top: 36px;
  margin-bottom: 16px;
}

.search-user {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 16px 30px -10px $box-shadow;
}

.primary-search-text::placeholder {
  color: $secondary-text;
}

.img-input-wrapper {
  width: 100%;
  padding: 22px 0 22px 32px;
  gap: 24px;
  display: flex;
  input {
    flex-grow: 1;
    border: none;
    caret-color: $search-button;
  }
  input:focus {
    outline: none;
  }
}

.search-button {
  background-color: $search-button;
  border-radius: 10px;
  color: $button-text;
  border-color: transparent;
  flex-grow: 1;
  margin: 9.5px 10px 9.5px 24px;
  min-width: 106px;
  height: 50px;
  &:hover {
    cursor: pointer;
    background-color: $search-button-hover;
  }
}

.user-profile {
  background-color: $component-background;
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px $box-shadow;
}

.user-image > img {
  border-radius: 50%;
}

.hero-wrapper {
  display: flex;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name-joined-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.full-name {
  color: $primary-text;
}

.date-joined {
  line-height: normal;
  margin-left: auto;
}

.follower-wrapper {
  display: flex;
  background-color: $light-body-background;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 37px;
  margin-top: 32px;
}

.follower-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 83px 17px 32px;
  li {
    display: flex;
    flex-direction: column;
  }
}

.socials-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.socials-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.socials-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social {
  display: flex;
  gap: 15px;
  a {
    text-decoration: none;
  }
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

.not-available > g > path {
  fill: $unavailable-social;
}
